$white: #fff;
$light-gray: #f4f4f4;
$base-black: #231f20;
$black: #000;
$base-grey: #767676;
$dark-orange: #eb5f2c;
$bright-gray: #e9e9e9;
$grey-2: #d0d0d0;
$river-bed: #57666a;
$blue: #0f81ac;
$paynes-grey: #3e4545;
$silver: #c0c0c0;
$dim-gray: #48555e;
$green: #009494;
$common-green: #3e8604;
$very-light-grey: #fcfcfc;
$orange: #ff8400;
$yellow: #ffb700;
$yellow-2: #d7ab00;
$secondary-blue: #0f81ac;
$secondary-dark-blue: #066184;
$dark-pink: #e96ec3;
$purple: #9055a8;
$red: #9c000f;
$lime-green: #8cd452;
$label-green: #85c56f;
$label-blue: #4bbcce;
$label-grey: #909090;
$indian-red: #ec6660;
$dark-red: #b54039;
$white-smoke: #f3f7f8;
$gray: #f9f9f9;
$mountain-meadow: #19c76f;
$casablanca: #f0b255;
$brick-red: #d7354b;
$casper: #aab5b8;
$charcoal: #424242;
$suva-gray: #8e8e8e;
$summer-sky: #42bddc;
$anakiwa: #8ed6ea;
$medium-sea-green: #3fb47c;
$vista-blue: #8ad2af;
$selective-yellow: #ffb700;
$dandelion: #ffd367;
$mantis: #69c568;
$sunglow: #ffc341;
$burnt-sienna: #ec6660;
$medium-carmine: #b54039;
$night-rider: #333333;
$spindle: #bcc9db;
$link-water: #d6e0e3;
$light-white-smoke: #f7f7f7;
$light-cyan: #e5f9ff;
$light-gray-smoke: #ebebeb;
$venetian-red: #d0021b;
$Dark-pastel-green: #00c652;
$cinnabar: #eb602d;
$zumthor: #d6dadb;
$blue-bayoux: #677579;
$dim-grey: #656565;
$bokara-grey: #21201e;
$gainsboro: #e0e0e0;
$nobel: #999999;
