@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-Hairline.otf') format('opentype');
  font-weight: 50;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-Hairline.otf') format('opentype');
  font-weight: 50;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-UltraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-UltraLightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-Super.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: HeroNew;
  src: url('../../../public/fonts/HeroNew/HeroNew-SuperItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
