.layout {
  @include shadow-box;
  position: absolute;
  margin: 24px 56px 25px 24px;
  z-index: $tip-card-index;
}

.border {
  width: 0;
  height: 0;
  border-top: 7px solid $light-gray-smoke;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  top: 100%;
  left: 25%;
  margin-top: 1px;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 6px solid $white;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  top: -8px;
  left: -5px;
}
